/* image sprites {{{ */
.global-nav .logo-jsonnanny {
    background:transparent url(images/jsonnanny.png) no-repeat scroll 0 0;
}
/* }}} */
/* globa nav {{{ */
.global-nav .logo-jsonnanny {
    display:block;
    width:183px;
    height:40px;
    text-indent:-9999px;
    overflow:hidden;
}
.global-nav .brand {
    padding:0 20px;
}
/* }}} */
/* dashboard {{{ */
#dashboard .newsfeed {
    margin-top:15px;
}
#dashboard .newsfeed .col-type {
    width:40px;
}
#dashboard .newsfeed .col-avatar {
    width:50px;
}
#dashboard .newsfeed td {
    text-align:center;
    vertical-align:middle;
}
#dashboard .newsfeed .cell-message {
    text-align:left;
    vertical-align:top;
}
#dashboard .newsfeed i[class^="icon-"],
#dashboard .newsfeed i[class*=" icon-"] {
    font-size:20px;
}
#dashboard .newsfeed .cell-message p {
    margin-bottom:3px;
}
#dashboard .newsfeed small {
    color:#999;
}
#dashboard .notification ul {
    margin:0;
    padding:0;
}
#dashboard .notification li {
    list-style:decimal inside;
}
#dashboard .schema-list {
    padding:15px 8px;
}
#dashboard .schema-list form {
    margin:0 0 10px;
}
#dashboard .schema-list .keyword {
    margin-bottom:0;
    width:90%;
}
#dashboard .schema-list .tabs,
#dashboard .schema-list .tabs li {
    margin:0;
    padding:0; 
}
#dashboard .schema-list .tabs {
    width:100%;
    overflow:hidden;
}
#dashboard .schema-list .tabs li {
    position:relative;
    float:left;
    margin-right:5px;
    height:24px;
    line-height:24px;
    font-size:12px;
    list-style-type:none;
    cursor:pointer;
}
#dashboard .schema-list .active:after {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    background-color:#999;
}
/* }}} */
